# @package _global_

defaults:
  - /method/base@_here_

pipeline: dpo_head_dropout_ensemble.DPOHeadDropoutEnsemblePipeline

model:
  # feature extraction parameters
  feature_extraction_layer: last_hidden_state
  feature_extraction_pooling_strategy: null

  # DPO parameters
  beta: ${trainer.beta}

  # dropout-based ensemble parameters
  dropout: 0.01
  num_samples_train: 1
  num_samples_eval: 20
  scale_bounds: 2

trainer:
  # data preprocessing parameters
  max_prompt_length: null # prevent truncation of prompt
  max_completion_length: null # prevent truncation of completion

  # objective parameters
  beta: 0.1
  loss_type: sigmoid
  center_rewards_coefficient: 0.0
  std_rewards_coefficient: 0.0

  # training parameters
  per_device_train_batch_size: 1
  gradient_accumulation_steps: 16

  learning_rate: 1e-6

  # eval parameters
  per_device_eval_batch_size: 8
  eval_accumulation_steps: 12
