program: scripts/train.py
method: grid

parameters:
  # seed:
  #   values: [0, 1, 2]
  model.dropout:
    values: [0.01, 0.05, 0.1]
  trainer.learning_rate:
    values: [1e-7, 1e-6, 1e-5]
  trainer.beta:
    values: [0.01, 0.05, 0.1]

command:
  - accelerate
  - launch
  - --config_file
  - configs/accelerate/default.yaml
  - ${program}
  - --config-name
  - train
  - hydra.run.dir=${envvar:OUT}
  - dataset/train=ultrafeedback_binarized
  - dataset/eval=ultrafeedback_binarized
  - method=dpo_head_dropout_ensemble/default
  - model.base_model_name_or_path=Qwen/Qwen3-0.6B
  - trainer.report_to=wandb
  - wandb.entity=${envvar:WANDB_ENTITY}
  - wandb.project=${envvar:WANDB_PROJECT}
  - ${args_no_hyphens}
